<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/account.css" type="text/css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/account.js"></script>

  <title>My Account</title>
</head>
<body>
  <%- include('partials/_header') %>
<div class="container">
  <div class="side-panel">
    <ul>
      <div><%=user.email%></div>
      <li id="profile">Profile</li>
      <li id="orders">Orders</li>
      <li id="selling">Selling</li>
      <li id="favorites">Favourites</li>
      <li id="messages">Messages</li>
    </ul>
  </div>
  <main class="main-container">

    <header>
      <h1>Profile</h1>
      <div class="header-footer">
        <h3>Personal Information</h3>
        <button >EDIT</button>
      </div>
    </header>
    <div class="profile">
      <div class="profile-picture">
      <img src="./images/sample-profile-pic.png" alt="">
      <input type="file" id="profilePictureInput" accept="image/*" style="display: none;">
      <label for="profilePictureInput">Change Profile Picture</label>
      </div>
      <div class="input-fields">
        <label for=""><b>Name:</b>
          <%= user.first_name %> <%= user.last_name %>
          <input type="text" id="nameInput" readonly>
        </label>
        <label for=""><b>Email Address:</b>
          <%= user.email %>
          <input type="email" id="emailInput" readonly>
        </label>
        <label for=""><b>Street:</b>
          <%= user.street %>
          <input type="text" id="addressInput" readonly>
        </label>
        <label for=""><b>City:</b>
          <%= user.city %>
          <input type="text" id="cityInput" readonly>
        </label>
        <label for=""><b>Postal Code:</b>
          <%= user.postal_code %>
          <input type="text" id="postalInput" readonly>
        </label>
        <label for=""><b>Province:</b>
          <%= user.province %>
          <input type="text" id="provinceInput" readonly>
        </label>
      </div>
    </div>
  </main>
</div>

</body>
</html>
