<!DOCTYPE html>
<html lang="en">

<head>
  <title>Browse</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/browse.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
  <script src="../db/queries/createProductCards.js"></script>

</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>

    <!-- Use EJS syntax for looping through data -->
    <div class="product-container">
    <% data.forEach((product) => { %>
      <div class="product-box">
      <div> <%= product.title %> </div>
      <div class="product-description-price">
      <div> <%= product.description %> </div>
      <div> <%= product.price %> </div>
    </div>
      <div> qty: <%= product.quantity %> </div>
      <div> <img src="<%= product.thumbnail %>" /> </div>
    </div>
    <% }) %>
  </div>
</body>

</html>
