<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/cart.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

  <title>Cart</title>
</head>

<header>
  <%- include('partials/_header') %>
</header>

  <div class="cart-header"
  <h1><b>Cart</b></h1>
  </div>

  <body>
    <div class="cart-container">

        <%cartItems.forEach(function(item){%>
          <div class="cart-item">
              <div class="cart-item-image">
                <img src="/<%= item.thumbnail %>" alt="item image">
              </div>
                <div class="cart-item-info">
                  <h2><%= item.title %></h2>
                  <p><%= item.description %></p>
                  <p><%= item.price %></p>
                  <p><%= item.quantity %></p>
                </div>
                  <form class="cart-item-buttons" method="post" action="/cart">
                    <input type=""hidden name="itemId" value="<%= item.id %>">
                    <input type="hidden" name="quantity" value="<%= item.quantity %>">
                    <button type="submit" name="action" value="add-cart">Add</button>
                    <button type="submit" name="action" value="remove">Remove</button>
                  </form>
          </div>
        <% }) %>

      </div>
</body>
</html>
